<% content_for :head do %>
  <div class="cover_photo">
	</div>
  <table>
    <tr>
      <td>
        <div class="avatar_name">
          <h3><%= current_user.name %></h3>
        </div>
      </td>
    </tr>
  </table>
<% end %>
<div style="height: 50px"></div>

<div align="center">
	<div>
		<%= form_for @user do |f| %>
			<% if @user.errors.any? %>
				<% @user.errors.full_messages.each do |mess| %>
					<%= mess %>
				<% end %>
			<% end %>
			<div class="input-group input_group">
				<label class="col-lg-2">Name</label>
				<div class="col-lg-10">
					<%= f.text_field :name, required: true, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Avatar</label>
				<div class="col-lg-10">
					<%= f.file_field :avatar, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Cover photo</label>
				<div class="col-lg-10">
					<%= f.file_field :cover_photo, class: "form-control" %><br/><br/>
				</div>
			</div>
			<div class="input-group input_group">
				<label class="col-lg-2">Email</label>
				<div class="col-lg-10">
					<%= f.email_field :email, required: true, class: "form-control" %><br/><br/>
				</div>
			</div>
      <div class="input-group input_group">
				<label class="col-lg-2">Date of birth</label>
				<div class="col-lg-10">
					<%= f.date_field :date_of_birth, required: true, class: "form-control" %><br/><br/>
				</div>
			</div>
			<%= f.submit "Update Profile", class: "btn btn-primary update_profile" %>
		<% end %>
	</div>
</div>

