<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Images:</strong>
  <% @post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Comments count:</strong>
  <%= @post.comments_count %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</br>
<h3>Add comment</h3>
<%= render partial: "comments/form", locals: { comment: @comment, post_id: @post.id } %>

<h1>comments</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <td>|</td>
      <th>Content</th>
      <td>|</td>
      <th>Image</th>
      <td>|</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td>|</td>
        <td><%= comment.content %></td>
        <td>|</td>
        <td>
          <% if !comment.image.blank? %>
            <%= image_tag comment.image, alt: "comment_image", class: "comment_avatar" %>
          <% else %>
            comment_image
          <% end %>
        </td>
        <td>|</td>
        <td><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></td>
        <td>
          <%= 
            link_to "Destroy",
              "/posts/#{@post.id}/comments/#{comment.id}",
              method: :delete,
              data: { confirm: "Are you sure?" }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
